.projectImage {
    height: 500px;
    width: 350px;
    transition: transform 0.5s;
}

.projectCard {
    height: 500px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
}

.projectContent {
    height: 70px;
    max-width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.5);
    transition: 0.5s;
    color: white;
    overflow: hidden;
}

.projectContent h2 {
    margin: 10px;
    font-size: 28px;
}

.projectContent p {
    margin: 15px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.projectCard:hover {
    cursor: pointer;
    border-radius: 10px;
}

.projectCard:hover .projectContent {
    height: 350px;
    bottom: 0;
    background-color: rgba(27, 27, 27, 0.8);
}

.projectCard:hover .projectContent:hover .overlay {
    opacity: 1;
}

.projectCard:hover .projectContent p {
    visibility: visible;
    opacity: 1;
}

.projectCard:hover .projectContent:hover .projectImage {
    filter: blur(1px); 
    transform: scale(1.1); 
    background-color: #222;
};


@media (max-width: 768px) {
    .projectCard:hover .projectContent {
      height: 350px;
      bottom: 0;
      background-color: rgb(27, 27, 27, 0.8);
    }
  
    .projectCard:hover .projectContent p {
      visibility: visible;
      opacity: 1;
    }
  
    .projectCard:hover .projectImage {
      background-color: transparent; /* Remove the background color change */
      transform: none; /* Remove the image scale */
    }
  }