header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  gap: 30px;
  padding: 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  background-color: #242f9b;
  z-index: 1;
}

header a {
  font-family: "Ubuntu", sans-serif;

  font-size: 35px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 600;
  color: white;
}
header a span {
  color: rgb(253, 93, 93);
}

nav a {
  font-family: "Ubuntu";
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #ffff;
  position: relative;
  cursor: pointer;
}
nav a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: rgb(253, 93, 93);
  width: 0;
  left: 0;
  bottom: -15px;
  transition: 0.3s;
}
nav a:hover:after {
  width: 100%;
}
.active {
  color: rgb(253, 93, 93);
}
.active:after {
  content: "";
  position: absolute;
  height: 4px;
  background: rgb(253, 93, 93);
  width: 100%;
  left: 0;
  bottom: -15px;
  color: #ffff;
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #f4f3f3;

    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    position: relative;
  }

  header nav {
    padding: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.8rem;
    background: #2b52a4;
    transition: 0.5s;
    transform: translateX(-100vh);
    z-index: 1;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.35);
  }

  header a img {
    margin: 0;
    width: 200px;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #ffffff;
  }

  nav a {
    padding: 20px;
    border-radius: 4px;
    /* background: #2222; */
    width: 350px;
    font-size: 1rem;
    color: #ffff;
    margin: 0 0.8rem;
  }
  nav a:hover {
    font-size: 0.8rem;
    color: #3d4f59;
  }
}

/*------------------ DROPDOWN Classes-------------------*/

.buttonClass {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important ;
  color: #000000 !important;
  /* padding-bottom: 5px; */
  height: 18px !important;
}

.buttonClass:after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background: linear-gradient(91.29deg, #05b6f5 9.78%, #2b52a4 94.56%);
  border-radius: 4px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.serviceActive {
  color: #2b52a4 !important;
}
.serviceActive:after {
  content: "";
  position: absolute;
  /* width: 50px; */
  height: 5px;
  background: linear-gradient(91.29deg, #05b6f5 9.78%, #2b52a4 94.56%);
  border-radius: 4px;
  width: 100%;
  left: 0;
  bottom: -20px;
  color: #2b52a4;
}

._dropdown_15ws1_1 ._menu_15ws1_133 {
  top: calc(100% + 28px) !important;
}
.menuClassName {
  width: 250px !important;
  height: 406px !important;

  background: linear-gradient(
    308.32deg,
    #2b78a4 1.2%,
    #4569b6 87.23%
  ) !important;
  border-radius: 6px !important;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 200.02% !important;
  letter-spacing: 0.02em !important;
  color: #ffffff !important;

  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}
._item_16u43_1 {
  /* width: 150px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 200.02%;
  letter-spacing: 0.02em;

  color: #ffffff !important;
  padding: 10px 10px !important;
  border-radius: 4px !important;
  text-align: center !important;
}

._item_16u43_1:hover {
  background-color: #285378 !important;
}

._submenu_qieiq_1 {
  width: 100% !important;
}
._submenu_qieiq_1 ul li {
  width: 190px;
}
._dropdown_15ws1_1 ._button_15ws1_5._button-secondary_15ws1_54 {
  background-color: white !important;
}
._dropdown_15ws1_1 ._button_15ws1_5._button-secondary_15ws1_54:hover,
._dropdown_15ws1_1
  ._button_15ws1_5._button-secondary_15ws1_54._active_15ws1_42 {
  background-color: white !important;
  color: #2b52a4 !important;
}
._dropdown_15ws1_1 ._button_15ws1_5._button-secondary_15ws1_54:focus {
  box-shadow: none !important;
}

._right_qieiq_25 {
  top: 2px !important;
  left: 96% !important;
}
._submenu_qieiq_1 {
  background: #3474aa !important;
  border-radius: 6px !important;
}
._submenu_qieiq_1 {
  box-shadow: 0px 12px 32px rgb(26 26 26 / 47%) !important;
}
._dropdown_15ws1_1 ._button_15ws1_5 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 4px;
  font-weight: 600;
  line-height: 1;
  border-width: 0;
  letter-spacing: 0.6px;
  height: 40px;
  white-space: nowrap;
  outline: none;
  transition: none !important;
}

/* MUI */

.css-13evyrq-MuiTypography-root {
  margin: 0;
  color: #ffffff !important;
  font-weight: 500 !important;
}
